name: Rcloneindex
on:
  workflow_dispatch:
  schedule:
    - cron:  '30 6 * * *'
jobs:
  run-sync-service:
    runs-on: ubuntu-latest
    steps:
      - name: Downloading the Script
        run: |
          wget https://gist.github.com/BlackFoxy616/cdee96a06bb3c36b7d72ca779e1d5c1b/raw/rcloneindex.sh
      - name: Permission
        run: |
           chmod 777 rcloneindex.sh
      - name: Running the Script
        run: |
           ./rcloneindex.sh
